.videorow {
  display: flex;
  margin-bottom: 15px;
  /* max-width: 700px; */
}
.videorow > img {
  object-fit: contain;
  width: 246px !important;
  height: 138px !important;
}
.videorow_text > h5 {
  font-size: 16px;
  font-weight: 640;
  color: black;
}
.forMob_Title {
  display: none;
}
.videorow_text {
  margin-left: 14px;
}
.flex {
  display: flex;
  align-items: center;
  margin: 0;
}
.flex > img {
  height: 25px;
  width: 25px;
  object-fit: contain;
  border-radius: 50px;
}
.videorow_description {
  margin: 20px 0 0 0;
  font-size: 13px;
  color: gray;
  font-weight: 400;
}
.videorow_headLine {
  font-size: 13px;
  color: gray;
  font-weight: 400;
}
.videorow_subsNumber {
  font-weight: bolder;
  padding: 2px;
}
@media screen and (max-width: 600px) {
  .videorow > img {
    object-fit: contain;
    width: 184px !important;
    height: 103px !important;
  }
  .fordesktop_Title {
    display: none;
  }
  .forMob_Title {
    display: block;
    padding: 0;
  }
  .chTitle {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: grey;
  }
}
